{% extends "base.html" %}
{% block content %}
<div class="max-w-4xl mx-auto">
    <h1 class="text-4xl md:text-5xl font-extrabold text-white mb-4 text-center">About This Website</h1>

    <div class="glass-card rounded-xl p-6 md:p-8 shadow-2xl space-y-6 text-gray-300 leading-relaxed">
		<p>
		This project was developed for the NASA Space Apps Challenge 2025, under the Exoplanet Prediction problem statement.</p><p> Our goal is to create a simple, accessible web tool that uses machine learning models trained on real NASA mission data (Kepler/K2/TESS) to predict whether a candidate is likely to be an exoplanet.</p><p>Exoplanet discovery helps us understand how planetary systems form, whether Earth-like worlds exist elsewhere, and ultimately whether life might exist beyond our solar system.</p><p>Our web application allows users to input planetary parameters and instantly receive a prediction. This bridges the gap between raw scientific datasets and an interactive, user-friendly platform.
		</p>
        <p>This page is under construction. Till then you can:</p>
        <ul class="list-disc list-inside space-y-2">
            <li>Predict using a trained ML model</li>
            <li>Submit new data to improve the model</li>
            <li>Open this page to see the exact same thing.</li>
            <li>Close this website and come back when it is complete.</li>
        </ul>
    </div>
	<br>
    <div class="glass-card rounded-xl p-6 md:p-8 shadow-2xl space-y-6 text-gray-300 leading-relaxed">
		Team Contributors:<br>
        <ul class="list-disc list-inside space-y-2">
		<li> Pulkit Verma </li>
		<li> Chetan Anand </li>
		<li> Swastik Verma </li>
		<li> Kabir Jolly </li>
        </ul>
		<p>
		<a href = "https://github.com/kabirjolly6/Exoplanet_Detection">GitHub Repository Link</a>
		</p>

    </div>
</div>
{% endblock %}
